<div class="container">
      <% flash.each do |key, value| %>
        <div class="row justify-content-center">
    <div class="alert alert-<%= key %> alert-dismissible col-lg-4 col-md-6" role="alert">
      <%= value %>
      <button type="button" id="iksic" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        </div>
  <% end %>
      </div>